
  
  <div class="row">

    <!-- Card for the first uploaded image -->
    <div class="col-md-6">
      <div class="card">
        <img src="../../../../assets/images/857.jpg" class="card-img-top_857" alt="Power One Micro Systems 1">
        <div class="card-body">
          <h5 class="card-title">Power One Micro Systems</h5>
          <table class="table">
            <tbody>
              <tr>
                <th>Model</th>
                <td>PMS103Q16</td>
              </tr>
              <tr>
                <th>Machine No</th>
                <td>20230302857</td>
              </tr>
              <tr>
                <th>Rating</th>
                <td>10 KVA</td>
              </tr>
              <tr>
                <th>Input V/Ph/Hz</th>
                <td>415 V 3P 50HZ</td>
              </tr>
              <tr>
                <th>Output V/Ph/Hz</th>
                <td>230 V 1P 50HZ</td>
              </tr>
              <tr>
                <th>DC Voltage</th>
                <td>192 V DC</td>
              </tr>
              <tr>
                <th>Warranty</th>
                <td>From: <span id="warranty-from"></span> To: <span id="warranty-to"></span></td>
              </tr>
            </tbody>
          </table>
          <a href="http://172.16.26.28/" target="blank" class="btn"><button>Click for Monitoring</button></a>
        </div>
      </div>
    </div>
  
    <!-- Card for the second uploaded image -->
    <div class="col-md-6">
      <div class="card">
        <img src="../../../../assets/images/856.jpg" class="card-img-top_856" alt="Power One Micro Systems 2">
        <div class="card-body">
          <h5 class="card-title">Power One Micro Systems</h5>
          <table class="table">
            <tbody>
              <tr>
                <th>Model</th>
                <td>PMS103Q16</td>
              </tr>
              <tr>
                <th>Machine No</th>
                <td>20230302856</td>
              </tr>
              <tr>
                <th>Rating</th>
                <td>10 KVA</td>
              </tr>
              <tr>
                <th>Input V/Ph/Hz</th>
                <td>415 V 3P 50HZ</td>
              </tr>
              <tr>
                <th>Output V/Ph/Hz</th>
                <td>230 V 1P 50HZ</td>
              </tr>
              <tr>
                <th>DC Voltage</th>
                <td>192 V DC</td>
              </tr>
              <tr>
                <th>Warranty</th>
                <td>From: <span id="warranty-from2"></span> To: <span id="warranty-to2"></span></td>
              </tr>
            </tbody>
          </table>
          <a href="http://172.16.26.29/" class="btn btn-primary">Click for Monitoring</a>

         
        </div>
      </div>
      <!-- <div class="left-corner">
        <h3 class="footer">Contact support</h3>
        <h4>
          Phone Number
        </h4>
      </div>
    </div> -->
  <!-- <div class = "left-corner">
    <h3>
      Support & Help
    </h3>
    <h4>
      Contact Numbers
      <br>
      ABC - 00000
      <br>
      PQR - 11111
    </h4>
  </div> -->

    <div class="footer-content">
      <h3>Contact Support</h3>
      <p>Phone Number: <a href="tel:+1234567890">+1234567890</a></p>
      <p>Email: <a href="mailto:support@example.com">supportexample.com</a></p>
    </div>
  </div>
  